@model IEnumerable<Category>
<br /><br />
<h2 style="text-align:center"><b>THỂ LOẠI</b></h2>
	<br /><br />
<h3>Thông tin thể loại</h3><br />
<div class="container p-0">
	<div class="row">
		<div class="col-6">
			<div class="row">
				<div style="width: 25%">
					<p>Mã thể loại</p>
				</div>
				<div style="width: 65%">
					<input type="text" class="form-control" placeholder="" aria-label="Recipient's username" style="height: 30px">
				</div>
			</div>
		</div>
		<div class="col-6"">
			<div class="row">
				<div style="width: 25%">
					<p>Tên thể loại</p>
				</div>
				<div style="width: 75%">
					<input type="text" class="form-control" placeholder="" aria-label="Recipient's username" style="height: 30px">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="row">
				<div style="width: 25%">
					<p>Mã ID</p>
				</div>
				<div style="width: 65%">
					<input type="text" class="form-control" placeholder="" aria-label="Recipient's username" style="height: 30px">
				</div>
			</div>
		</div>
		<div class="col-6" ">
			<div class="row">
				<div style="width: 25%">
					<p>Mô tả</p>
				</div>
				<div style="width: 75%">
					<input type="text" class="form-control" placeholder="" aria-label="Recipient's username" style="height: 30px">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="row">
				<div style="width: 25%">
					<p>Ngày tạo</p>
				</div>
				<div style="width: 65%">
					<input type="text" class="form-control" placeholder="" aria-label="Recipient's username" style="height: 30px">
				</div>
			</div>
		</div>
		<div class="col-6" ">
			<div class="row">
				<div style="width: 25%">
					<p>Ngày cập nhật</p>
				</div>
				<div style="width: 75%">
					<input type="text" class="form-control" placeholder="" aria-label="Recipient's username" style="height: 30px">
				</div>
			</div>
		</div>
	</div>
	
	<br />
	<div class="row">
		<div style="width: 25%">
			<p></p>
		</div>
		<div style="width: 25%; text-align: right">
			<a asp-controller="Categrory" asp-action="Index" class="btn btn-primary" style="border-radius: 5px; width: 50%"><b>Thêm mới</b></a>
		</div>
		<div style="width: 25%; text-align: right">
			<a asp-controller="Categrory" asp-action="Index" class="btn btn-primary" style="border-radius: 5px; width: 50%"><b>Cập nhật</b></a>
		</div>
		<div style="width: 25%; text-align: right">
			<a asp-controller="Categrory" asp-action="Index" class="btn btn-primary" style="border-radius: 5px; width: 50%"><b>Xóa</b></a>
		</div>
		
	</div>
	<br />
</div>
<hr />
<br />
<h3>Danh sách thể loại</h3>

<table class="table table-hovertable table-hover" style="border: 1px solid #ddd;">
	<thead class="table-info">
		<th style ="border: 1px solid #ddd;">Category name</th>
		<th style ="border: 1px solid #ddd;">Display Order</th>
		</thead>
		<tbody>
			@foreach(var item in Model)
			{
				<tr>
				<td style="border: 1px solid #ddd;">@item.Name</td>
				<td style="border: 1px solid #ddd;">@item.DisplayOrder</td>
				</tr>
				
			}
		</tbody>
</table>
<div class="container p-0">
	<div class="row">
		<div class="col-6">
			<h4>Category List</h4>
		</div>
		<div class="col-6" style="text-align: right">
			<a asp-controller="Categrory" asp-action="Index" class="btn btn-primary" style="border-radius: 5px;"><b>Create New Cetagory</b></a>
		</div>
	</div>
</div>
<br />
<br />
<br />
